.header__menu {
}

.menu__item {
    margin-right: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    transition: all linear 0.2s;

    &:hover {
        color: var(--white);
    }

    &.active {
        background-color: #333;
    }
}
