//Table
.table {
    position: relative;
    color: #b3b3b3;

    table {
        width: 100%;
    }
}

.table__thead {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    font-size: 1.4rem;
}

.table__row {
    border: 1px solid transparent;
    transition: all ease;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
        color: var(--white);
    }

    &:hover .icon {
        display: block;
    }

    &:hover .stt {
        span {
            display: none;
        }
    }

    &.active {
        background-color: hsla(0, 0%, 100%, 0.3);
        color: var(--white);

        .icon {
            display: block;
        }

        .stt {
            span {
                display: none;
            }
        }
    }
}

.table__stt {
    text-align: center;
    width: 5%;
    fill: var(--white);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    .stt {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.icon {
    display: none;
}

.table__title {
    display: flex;
    text-align: left;
    width: 50%;
    height: 70px;
    align-items: center;

    .title__img {
        width: 40px;
        height: 40px;
        margin-right: 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1;
            border-radius: 4px;
        }
    }

    .title__info {
        display: flex;
        flex-direction: column;
    }

    .title__name {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--white);
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;

        &.active {
            color: var(--primary-color);
        }
    }

    .title__author {
        font-size: 1.4rem;
    }
}

.table__album {
    text-align: left;
    width: 20%;

    .album__name {
        width: 90%;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}

.table__date {
    text-align: left;
    width: 15%;
}

.table__time {
    text-align: center;
    width: 10%;
    fill: currentColor;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .time {
        display: flex;
        align-items: center;
        justify-content: center;

        .time__icon {
            transition: all ease 0.2s;

            &:active {
                transform: scale(1.5);
            }
        }

        .icon {
            fill: #b3b3b3;
            transition: all ease 0.2s;

            &:hover {
                fill: var(--white);
            }
        }

        .icon-active {
            fill: var(--primary-color);
        }
    }
}

.time__song {
    padding: 0 20px;
}

.icon-arrow-right {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

//table-search
.table-search {
    color: #b3b3b3;
}

.table-search__row {
    border: 1px solid transparent;
    transition: all ease;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
        color: var(--white);
    }

    &:hover .icon {
        display: block;
    }

    &.active {
        background-color: hsla(0, 0%, 100%, 0.3);
        color: var(--white);

        .icon {
            display: block;
        }
    }
}

.icon {
    display: none;
}

.table-search__title {
    display: flex;
    text-align: left;
    width: 50%;
    height: 57px;
    align-items: center;
    padding-left: 10px;

    .title__img {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1;
            border-radius: 4px;
        }

        .icon-play {
            display: none;
            position: absolute;
            top: 20%;
            right: 20%;
            fill: var(--white);
        }

        &::before {
            content: '';
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(22, 22, 22, 0.5);
        }

        &:hover::before {
            display: block;
        }

        &:hover .icon-play {
            display: block;
        }
    }

    .title__info {
        display: flex;
        flex-direction: column;
    }

    .title__name {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--white);
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;

        &.active {
            color: var(--primary-color);
        }
    }

    .title__author {
        font-size: 1.4rem;
    }
}

.table-search__time {
    text-align: center;
    width: 10%;
    fill: currentColor;
    padding-right: 10px;

    .time {
        display: flex;
        align-items: center;
        justify-content: center;

        .time__icon {
            transition: all ease 0.2s;

            &:active {
                transform: scale(1.5);
            }
        }

        .icon {
            fill: #b3b3b3;
            transition: all ease 0.2s;

            &:hover {
                fill: var(--white);
            }
        }

        .icon-active {
            fill: var(--primary-color);
        }
    }
}

.time__song {
    padding: 0 20px;
}
