.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.icon {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    fill: var(--white);
}

.outline {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.4rem;
    line-height: 1rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 500px;
    text-align: center;
    padding-block: 10px;
    padding-inline: 15px;
    border: 1px solid #878787;
    color: var(--white);
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.04);
        background-color: var(--black);
        border-color: var(--white);
    }
}

.fill {
    background-color: var(--white);
    color: var(--black);
    border-radius: 500px;
    font-size: inherit;
    padding-block: 12px;
    padding-inline: 32px;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.04);
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.play {
    background-color: var(--primary-color);
    display: flex;
    border-radius: 500px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    transition: transform ease 0.2s;
    cursor: default;

    &:hover {
        transform: scale(1.05);
        filter: brightness(1.05);
    }
}

//Button size
.small {
    padding: 12px;
}

.medium {
    padding: 13px;
}

.large {
    padding: 14px;
}
