.login__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    opacity: 1;
    background-image: repeating-radial-gradient(
            circle at 0 0,
            transparent 0,
            #ffffff 40px
        ),
        repeating-linear-gradient(#6a979355, #6a9793);
}

.login__form {
    width: 400px;
    height: 400px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--radius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login__title {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    padding: 10px;
    line-height: 0.5;
}

.login__subtitle {
    font-size: 3rem;
    text-align: left;
}

.login__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 500;
    border-radius: var(--radius);
    background-color: #1ed760;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background-color: #1a9445;
        transform: scale(1.02);
        color: #ffffff;
    }
}

.login__icon {
    font-size: 2.5rem;
    padding-top: 6px;
    margin: 0px 10px;
}
