.section {
    padding-top: 20px;
}

.section__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    h2 {
        color: var(--white);
        font-weight: 600;
    }

    span {
        display: flex;
        align-items: flex-end;
        font-size: 1.3rem;
        font-weight: 300;

        &:hover {
            text-decoration: underline;
        }

        a {
            &:hover {
                color: var(--white);
            }
        }
    }
}
