.user__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px 0;
    border-radius: 50px;
    cursor: pointer;

    span {
        color: var(--white);
        margin: 0 5px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .icon-up,
    .icon-down {
        fill: var(--white);
        margin-top: 5px;
        margin-right: 5px;
    }

    &:hover {
        background-color: #282828;
    }
}

.user__avatar {
    cursor: pointer;
}
