.playlist__container {
    position: relative;
    width: 100%;
    height: 1000px;
}

.playlist__body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 620px;
    background: linear-gradient(to bottom, transparent -10%, #121212 45%);
}

//Playlist actions
.playlist__actions {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.playlist__heart-icon {
    height: 32px;
    margin: 0 30px;
    transition: all ease 0.2s;

    .heart {
        fill: #b2a4a9;
        transition: all ease 0.2s;

        &:hover {
            fill: var(--white);
        }
    }

    .heart-active {
        fill: var(--primary-color);
    }

    &:active {
        transform: scale(1.5);
    }
}

.playlist__more {
    height: 32px;
    fill: #b2a4a9;
    transition: all ease 0.2s;

    &:hover {
        fill: var(--white);
    }
}

.icon-arrow-right {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
