//Menu
.popper__body {
    width: 196px;
    background-color: #282828;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    max-height: calc(100vh - 24px);
    max-width: 350px;
    min-width: 160px;
    overflow-y: auto;
    padding: 4px;
}

.popper__user {
    width: 100%;
    padding: 9px 8px;
    color: var(--white);
    border-bottom: 1px solid #585858;
    font-weight: 600;
}

.popper__item {
    width: 100%;
    padding: 9px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 1.4rem;
    font-weight: 500;
    fill: currentColor;
    border-radius: 4px;
    cursor: default;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
        color: #fff;
    }
}
