.library__title {
    margin-bottom: 50px;
    color: #fff;
}

.playlist__container {
    height: 250px;
    width: 190px;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.playlist__img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: var(--radius);
    box-shadow: blue 0px 0px 0px 2px inset,
        rgb(237, 237, 237) 10px -10px 0px -3px, rgb(211, 211, 211) 10px -10px,
        rgb(237, 237, 237) 20px -20px 0px -3px, rgb(211, 211, 211) 20px -20px;
}

.playlist__info {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 50px;
}

.playlist__title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1.7rem;
    color: var(--white);
    font-weight: 600;
}

.playlist__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #787777;
}
