.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 0;
}

.header__search {
    margin: auto;
}

.header__info {
    display: flex;
    align-items: center;
    color: var(--white);
}

.header__avatar {
    margin: 0 10px;
}
