.header__container {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 16px 32px;
    transition: all ease 0.5s;

    &.shrink {
        background-color: #070707;
    }
}

.header__act {
    display: flex;
}

.header__wrapper {
    flex: 1;
    padding-left: 20px;
}

.header__menu {
    padding-left: 20px;
}

.menu__item {
    margin-right: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);

    &:hover {
        color: var(--white);
    }

    &.active {
        background-color: #333;
    }
}

.header__user {
    display: flex;
    align-items: center;
}

.header__btn {
    padding-right: 30px;
}
