.search__title {
    padding-top: 10px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

//result__playlist
.result__playlist {
    position: relative;
    background-color: #181818;
    height: 234px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    transition: all ease 0.2s;

    &:hover {
        background-color: #282828;
    }

    &:hover .result__fade {
        display: block;
    }
}

.result__img {
    width: 92px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: 4px;
    }
}

.result__name {
    color: var(--white);
    font-weight: 600;
    margin: 0;
}

.result__author {
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 600;
}

.result__type {
    margin-left: 10px;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #121212;
    padding: 4px 16px;
    border-radius: 500px;
}

.result__fade {
    display: none;
    position: absolute;
    right: 4%;
    bottom: 8%;
    animation: slideTop linear 0.2s;
}

@keyframes slideTop {
    from {
        bottom: 0%;
        opacity: 0;
    }
    to {
        bottom: 8%;
        opacity: 1;
    }
}
