.sidebar__container {
    height: 92vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__wrapper {
    margin: 0 auto;
    width: 90%;
    text-align: left;
}

.sidebar__title {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 40px 0;

    &:hover {
        color: rgb(10 39 37/1);
    }
}

.sidebar__action {
}

.sidebar__footer {
    font-size: 1rem;
    color: #4a4a4a;
}

.sidebar__info {
}
