.search__container {
    width: 400px;
    height: 40px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    font-size: 1.7rem;
}

.search__icon {
    margin: 0 10px;
}

.search__input {
    width: 90%;
}
