.search__container {
    width: 364px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0;
    border-radius: 500px;
    color: #000;
    height: 40px;
    padding: 0 10px;
    text-overflow: ellipsis;
    background-color: var(--white);
}

.search__icon {
}

.search__input {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 6px;
    background-color: transparent;
}

.search__clear {
    height: 24px;
}
